<form #supportForm="ngForm" (ngSubmit)="sendSupport(supportForm)">
  <label for="name">Name</label>
  <input type="text" name="name" #name="ngModel" [ngModel]="userDetail.name" placeholder="Your name" required>
  <label for="name">Email</label>
  <input type="text" name="email" #email="ngModel" [ngModel]="userDetail.email" placeholder="Your email" required>
  <label for="name">Subject</label>
  <input type="text" name="subject" #subject="ngModel" ngModel placeholder="Your subject" required>
  <label for="name">Message</label>
  <textarea name="text" id="text" #text="ngModel" ngModel cols="30" rows="5" class="form-control" placeholder="Your text..." required></textarea>

  
  <span class="text-danger">{{errorMessage}}</span>
  <div class="addWarranty-btns">
    <button class="submit-btn" type="submit">Send message</button>
  </div>
</form>