@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.chat-input-container a img {
    width: 100% !important;
}
h3, p, h1, h2{
    font-family: 'Rubik', sans-serif !important;
}
input{
    font-family: 'Rubik', sans-serif !important;
}
#chats-container .date-container .sent-box p {
    color: #fff !important;
    font-size: 12px !important;
    margin-top: 5px !important;
    line-height: 17px !important;
}

#chats-container .date-container .recieved-box p {
    color: #fff;
    font-size: 12px;
    margin-top: 5px !important;
    line-height: 17px !important;
}
textarea{
    width: 100%;
    padding: 10px 18px;
    border-radius: 10px;
    border: 0;
    background-color: #202c40;
    color: #fff;
    resize: none;
}
textarea:focus{
    background-color: #202c40;
    color: #fff;
    outline: none;
    box-shadow: none;
    border: 0;
}
.submit-btn {
    width: 100% !important;
}