<!-- Carousel  -->
<div class="carousel-header mt-3">
    <h3>Select a package ({{packages.length}})</h3>
  </div>
  <div  id="subscribeCarousel" class="carousel-body">
    <owl-carousel-o [options]="productList">
      <ng-container *ngFor="let package of packages">
        <ng-template carouselSlide>
          <div class="item">
            <div class="plans">
              <h3>{{package.name}}</h3>
              <p>{{package.description}}</p>
              <h1>&#8377;{{package.amount}}/-</h1>
              <P>The perfect plan for a hassle-free experience</P>
      
              <ul>
                <li>Pick-up Option</li>
                <li>Warranty Reminders</li>
                <li>Chat support</li>
                <li>365 Days Validity</li>
                <li>Unlimited Products</li>
                <li>Single User</li>
              </ul>
              <div *ngIf="package.amount == 0">
                <span class="text-danger">Free Plan!</span>
              </div>
              <div *ngIf="userInfo.subscription._id === package._id">
                <span class="text-danger">Activated Plan!</span>
              </div>
              <div *ngIf="(package.amount != 0) && (userInfo.subscription._id != package._id)">
                <button class="subscribe-btn" (click)="initPay(package._id)">Subscribe Now</button>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <!-- <ng-template carouselSlide>
        <div class="item">
          <div class="addAnotherProduct">
            <div onclick="panelAddRemove()" class="file-input-box">
              <div class="file-box-bg">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-plus"
                >
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </ng-template>  -->
    </owl-carousel-o>
  </div>
  <!-- Carousel  -->