<!-- Carousel  -->
<div class="carousel-header mt-3">
    <h3>Select a package</h3>
  </div>

  <div id="subscribeCarousel" class="owl-carousel owl-theme ">
    <div class="item">
      <div class="plans">
        <h3>5 CLAIMS</h3>
        <P>The perfect plan for a hassle-free experience</P>
        <h1>&#8377;199/-</h1>
        <p>365 Days Validity</p>

        <ul>
          <li>Pick-up Option</li>
          <li>Warranty Reminders</li>
          <li>Chat support</li>
          <li>365 Days Validity</li>
          <li>Unlimited Products</li>
          <li>Single User</li>
        </ul>
        <button class="subscribe-btn">Subscribe Now</button>
      </div>
    </div>
    <div class="item">
      <div class="plans">
        <h3>10 CLAIMS <span class="badge badge-secondary">BEST DEAL</span></h3>
        <P>The perfect plan for a hassle-free experience</P>
        <h1>&#8377;349/-</h1>
        <p>365 Days Validity</p>

        <ul>
          <li>Pick-up Option</li>
          <li>Warranty Reminders</li>
          <li>Chat support</li>
          <li>365 Days Validity</li>
          <li>Unlimited Products</li>
          <li>Single User</li>
        </ul>
        <button class="subscribe-btn">Subscribe Now</button>
      </div>
    </div>
    <div class="item">
      <div class="plans">
        <h3>15 CLAIMS</h3>
        <P>The perfect plan for a hassle-free experience</P>
        <h1>&#8377;499/-</h1>
        <p>365 Days Validity</p>

        <ul>
          <li>Pick-up Option</li>
          <li>Warranty Reminders</li>
          <li>Chat support</li>
          <li>365 Days Validity</li>
          <li>Unlimited Products</li>
          <li>Single User</li>
        </ul>
        <button class="subscribe-btn">Subscribe Now</button>
      </div>
    </div>
  </div>
  <!-- Carousel  -->