<!-- Side menu  -->
<section onclick="BClick();" class="d-none body-overlay" id="b-overlay"></section>
<section class="hamburger-container" id="h-menu">
    <div class="profile-pic">
        <img src="./assets/images/user-pic.png" alt="" />
    </div>

    <i><svg onclick="BClick();" id="close-btn" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></i>
    <h1>Meera Noutiyal</h1>
    <ul>
        <li>
            <span>
                <img src="./assets/images/product.png" alt="">
            </span>
            <a routerLink="/product/list">My Products <span>(1)</span></a>
        </li>
        <li>
            <span>
                <img src="./assets/images/account.png" alt="">  
            </span>
            <a routerLink="/profile/details">My Accounts</a>
        </li>
        <li>
            <span>
                <img src="./assets/images/tickets-fff.png" alt="">  
            </span>
            <a class="red-mark" routerLink="/tickets">Tickets Raised</a>
        </li>
    </ul>

    <ul class="nav-bar">
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="settings.html">Settings</a></li>
        <li><a href="javascript:void(0);" (click)="logoutUser()">Log out</a></li>
    </ul>

    <a class="pp" href="#">Privacy Policy</a>
    <a class="tc" href="#">Terms And Conditions</a>

    <p>&copy; wevouch 2021. All rights reserved</p>
</section>