<!-- Side menu  -->
<section onclick="BClick();" class="d-none body-overlay" id="b-overlay"></section>
<section class="hamburger-container" id="h-menu">
    <div class="profile-pic">
        <img src="{{user?.image}}" alt="" />
    </div>

    <i><svg onclick="BClick();" id="close-btn" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></i>
    <h1>{{user?.name}}</h1>
    <ul>
        <li onclick="BClick();">
            <span>
                <img src="./assets/images/product.png" alt="">
            </span>
            <a routerLink="/product/list">My Products <span>({{products}})</span></a>
        </li>
        <li onclick="BClick();">
            <span>
                <img src="./assets/images/account.png" alt="">  
            </span>
            <a routerLink="/profile/details">My Accounts</a>
        </li>
        <li onclick="BClick();">
            <span>
                <img src="./assets/images/tickets-fff.png" alt="">  
            </span>
            <a class="red-mark" routerLink="/ticket/list">Tickets Raised</a>
        </li>
    </ul>

    <ul class="nav-bar">
        <li onclick="BClick();"><a href="javascript:void(0);">FAQs</a></li>
        <li onclick="BClick();"><a href="javascript:void(0);">Support</a></li>
        <li onclick="BClick();"><a routerLink="/settings">Settings</a></li>
        <li onclick="BClick();"><a href="javascript:void(0);" (click)="logoutUser()">Log out</a></li>
    </ul>

    <a class="pp" href="javascript:void(0);" onclick="BClick();">Privacy Policy</a>
    <a class="tc" href="javascript:void(0);" onclick="BClick();">Terms And Conditions</a>

    <p>&copy; wevouch 2021. All rights reserved</p>
</section>