<div class="dashboard-intro">
    <div class="intro-text">
      <h1><span>Hi</span> Santosh</h1>
      <p>0 Products listed</p>
    </div>
    <div class="intro-img">
      <img src="./assets/images/user-pic-square.png" alt="" />
    </div>
  </div>

  <!-- Carousel  -->
  <div class="carousel-header mt-3">
    <h3>Electronics (1)</h3>
  </div>

  <div id="homeCarousel" class="owl-carousel owl-theme">
    <div class="item">
      <div onclick="claimWarrantyPopup()" class="addedProductBox">
        <img src="./assets/images/lg-front.png" alt="" />
        <h6>LG OLED TV</h6>
        <p>Expires on March 14, 2024</p>
      </div>
    </div>
    <div class="item">
      <div class="addAnotherProduct">
        <div onclick="panelAddRemove()" class="file-input-box">
          <div class="file-box-bg">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-plus"
            >
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="addAnotherProduct"></div>
    </div>
  </div>