
      <app-product-list></app-product-list>

      <!-- Carousel  -->

      <!-- Raise Issue -->

      <div class="raiseIssue mt-4">
        <h6>Facing Problems?</h6>
        <p>Raise an issue here, we'll follow up for you.</p>
        <button class="raiseIssueBTN" routerLink="/product/list">Raise Issue</button>
        <img class="wash-m" src="./assets/images/washing-m.png" alt="" />
        <img class="fridge" src="./assets/images/raise-issue.png" alt="" />
      </div>

      <!-- Raise Issue ends -->

      <!-- Offers -->
      <div class="carousel-header mt-5">
        <h3>Offers</h3>
      </div>
      <section id="offers" class="" style="padding: 0;">
        <div class="carousel-body ml-0">
          <owl-carousel-o [options]="planUpgrade">
            <ng-template carouselSlide>
              <div class="item">
                <div class="premium d-flex justify-content-between align-content-center" routerLink="/package/list">
                  <div class="premium-img">
                    <img src="./assets/images/fav-logo.png" alt="" />
                  </div>
                  <div class="premium-text">
                    <p class="m-0 mb-2">10% Off</p>
                    <h1 class="text-uppercase mb-0">upgrade to <span>premium</span></h1>
                  </div>
                </div>
              </div>
            </ng-template>  
            <ng-template carouselSlide>
              <div class="item">
                <div class="free-ticket">
                  <h1><span>Get a FREE Ticket!</span></h1>
                  <button routerLink="/product/add" class="mt-3">Add 5 Products</button>
                </div>
              </div>
            </ng-template> 
          </owl-carousel-o>
        </div>
      </section>

      <!-- Offers  -->

    <!-- Take picture  -->
    <div onclick="panelAddRemove()" id="ex-warr-b-overlay" class=""></div>
    <section id="takePicturePanel">
      <i><svg onclick="panelAddRemove()" id="close-btn" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></i>
      <div class="takePhoto">
        <img src="./assets/images/takePhoto.png" alt="" />
        <a href="#">Take A Picture</a>
        <input type="file" placeholder="Take A Photo" />
      </div>
      <div class="pickGallery">
        <img src="./assets/images/gallery.png" alt="" />
        <a href="#">Import From Gallery</a>
        <input type="file" placeholder="Import from Gallery" />
      </div>
    </section>
    <!-- Take picture  -->


    

