<div class="ticketBox">
    <div class="ticketTop">
      <img src="{{(ticketDetail.products && ticketDetail.products.productImagesUrl != '')? ticketDetail.products.productImagesUrl : './assets/images/blank-image.png'}}" alt="product image" />
      <div class="ticketTopTxt">
        <h3>{{(ticketDetail.products && ticketDetail.products.name) || 'N/A'}}</h3>
        <!-- <p>Expires on 14 March 2024</p> -->
        <a href="javascript:void(0);">{{ticketDetail?.transportationType}} Address</a>
        <p class="text-center mt-0 text-dark">{{ticketDetail.address?.addressLine1}}, {{ticketDetail.address?.addressLine2}}, {{ticketDetail.address?.city}}, {{ticketDetail.address?.country}}, {{ticketDetail.address?.state}}, pin-{{ticketDetail.address?.pin}}</p>
      </div>
    </div>
    <div class="ticketBottom text-center">
      <p class="text-center text-dark">Your wevouch ticket no.</p>
      <h1>{{ticketDetail.uniqueId}}</h1>
      <!-- <a href="javascript:void(0);">Issue Recieved?</a><br> -->
      
    </div>
  </div>

  <!-- Step progress bar -->
  <div id="tktProgressBar">
    <ul class="timeline" *ngIf="ticketLogs.length > 0; else noLogsBlock;">
      <li *ngFor="let log of ticketLogs;let i=index;" class="event" [ngClass]="{'processDone' : i < (ticketLogs.length-1), 'processGoing' : i === (ticketLogs.length-1)}">
        <p>{{log.comment}} <span class="text-muted">({{log.createdAt | date:'dd MMM, yyyy'}})</span></p>
      </li>
      <!-- <li class="event processDone">
          <p>Wevouch got in touch with the {{ticketDetail.brand?.name}} Service team</p>
      </li>
      <li class="event processGoing">
          <p>Service Request No. (SRN) #6657982</p>
      </li> -->
    </ul>
    <ng-template #noLogsBlock>
      <h4 class="text-center mt-2">No logs yet!</h4>
    </ng-template>

    <!-- <div class="serviceQuestion">
      <p>Has the {{ticketDetail.brand?.name}} team reach out to you yet?</p>
      <a href="rateExperience.html" class="SerQstYes">Yes</a>
      <a href="javascript:void(0);" class="SerQstYes">Yes</a>
      <a href="javascript:void(0);" class="SerQstNo">No</a>
    </div> -->
  </div>
  
  <!-- Step progress bar ends -->