<section id="sign_up" class="text-center login-wrapper wrapper">
  <header>
    <a routerLink="/login">
      <img src="./assets/images/back.png" alt="">
    </a>

    
    <a href="#">
      <img class="logo" src="./assets/images/login-logo.png" alt="" />
    </a>

    <a routerLink="/login">
      <img src="./assets/images/cut-icon.png" alt="">
    </a>
  </header>

  <h2>Create an Account</h2>

  <form #userSignUpForm="ngForm" (ngSubmit)="signUpUser(userSignUpForm)">
    <label>Name</label>
    <input class="form-control" #name="ngModel" ngModel type="text" name="name" placeholder="Your name" required [ngClass]="{'is-invalid':name?.invalid && name?.touched}">

    <label>Email Address</label>
    <input class="form-control" #email="ngModel" ngModel type="email" autocomplete="email" name="email" placeholder="Your Email" required [ngClass]="{'is-invalid':email?.invalid && email?.touched}">
    
    <label>Mobile</label>
    <input class="form-control" #mobile="ngModel" ngModel type="text" name="mobile" placeholder="Your mobile" pattern="(?=.*\d).{10}" required [ngClass]="{'is-invalid':mobile?.invalid && mobile?.touched}">
    <small *ngIf="mobile?.invalid && mobile?.touched" [ngClass]="{'text-danger':mobile?.invalid && mobile?.touched}">
      Mobile number must be of 10 digit.
    </small>

    <label>Password</label>
    <input class="form-control" tabindex="2" #password="ngModel" ngModel type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required [ngClass]="{'is-invalid':password?.invalid && password?.touched}">
    <small *ngIf="password?.invalid && password?.touched" [ngClass]="{'text-danger':password?.invalid && password?.touched}">
      Must contain at least one number, one uppercase, lowercase letter, and at least 6 characters
    </small>
    
    <label>Age</label>
    <input class="form-control" tabindex="2" #age="ngModel" ngModel type="text" name="age" placeholder="age" required pattern="(?=.*\d).{1,}" required [ngClass]="{ 'is-invalid': age?.invalid && age?.touched }">
    
    <label>Gender</label>
    <select class="form-control" tabindex="2" #gender="ngModel" [ngModel]="'Male'" type="gender" name="gender" placeholder="gender" required [ngClass]="{'is-invalid':gender?.invalid && gender?.touched}">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Others">Others</option>
    </select>

    <!-- <label>Confirm Password</label>
    <input class="form-control"> -->

    <span class="text-danger">{{errorMessage}}</span>
    <button class="submit-btn" type="submit" value="Sign up">Sign up</button>
  </form>

  <div class="register-link">
    <p>Already a member?</p>
    <a routerLink="/login">Login here</a>
  </div>
  <div class="bg-svg">
    <img src="./assets/images/bg_curv.png" alt="" />
  </div>
</section>