<section id="sign_up" class="text-center login-wrapper wrapper">
  <header>
    <a routerLink="/login">
      <img src="./assets/images/back.png" alt="">
    </a>

    
    <a href="#">
      <img class="logo" src="./assets/images/login-logo.png" alt="" />
    </a>

    <a routerLink="/login">
      <img src="./assets/images/cut-icon.png" alt="">
    </a>
  </header>

  <h2>Create an Account</h2>

  <form #userSignUpForm="ngForm" (ngSubmit)="signUpUser(userSignUpForm)">
    <label>Name</label>
    <input class="form-control" #name="ngModel" ngModel type="text" name="name" placeholder="Your name" required [ngClass]="{'is-invalid':name?.invalid && name?.touched}">

    <label>Email Address</label>
    <input class="form-control" #email="ngModel" ngModel type="email" autocomplete="email" name="email" placeholder="Your Email" required [ngClass]="{'is-invalid':email?.invalid && email?.touched}">
    
    <label>Mobile</label>
    <input class="form-control" #mobile="ngModel" ngModel type="number" name="mobile" placeholder="Your mobile" required [ngClass]="{'is-invalid':mobile?.invalid && mobile?.touched}">

    <label>Password</label>
    <input class="form-control" tabindex="2" #password="ngModel" ngModel type="password" name="password" placeholder="Password" required [ngClass]="{'is-invalid':password?.invalid && password?.touched}">
    
    <label>Age</label>
    <input class="form-control" tabindex="2" #age="ngModel" ngModel type="age" name="age" placeholder="age" required [ngClass]="{'is-invalid':age?.invalid && age?.touched}">
    
    <label>Gender</label>
    <select class="form-control" tabindex="2" #gender="ngModel" [ngModel]="'Male'" type="gender" name="gender" placeholder="gender" required [ngClass]="{'is-invalid':gender?.invalid && gender?.touched}">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Others">Others</option>
    </select>

    <label>Address</label>
    <input class="form-control" tabindex="2" #address="ngModel" ngModel type="address" name="address" placeholder="address" required [ngClass]="{'is-invalid':address?.invalid && address?.touched}">

    <!-- <label>Confirm Password</label>
    <input class="form-control"> -->

    <button class="submit-btn" type="submit" value="Sign up">Sign up</button>
  </form>

  <div class="register-link">
    <p>Already a member?</p>
    <a routerLink="/login">Login here</a>
  </div>
  <div class="bg-svg">
    <img src="./assets/images/bg_curv.png" alt="" />
  </div>
</section>