<section id="sign_up" class="text-center login-wrapper wrapper">
    <header>
      <a routerLink="/login">
        <img src="./assets/images/back.png" alt="">
      </a>

      
      <a href="#">
        <img class="logo" src="./assets/images/login-logo.png" alt="" />
      </a>

      <a routerLink="/login">
        <img src="./assets/images/cut-icon.png" alt="">
      </a>
    </header>

    <h2>Create an Account</h2>

    <form action="otp.html">
      <label>Email Address</label>
      <input type="email" name="email" placeholder="john.doe@gmail.com" />

      <label>Password</label>
      <input type="password" name="password" placeholder="********" />

      <label>Confirm Password</label>
      <input type="password" name="c-password" placeholder="********" />

      <button class="submit-btn" type="submit" value="Sign up">Sign up</button>
    </form>

    <div class="register-link">
      <p>Already a member?</p>
      <a routerLink="/login">Login here</a>
    </div>
    <div class="bg-svg">
      <img src="./assets/images/bg_curv.png" alt="" />
    </div>
</section>