<section class="account-info-edit ">
    <div class="user-img text-center position-relative">
      <img src="./assets/images/user-pic-square.png" class="rounded-circle" alt="">
      <div class="edit-icon" onclick="panelAddRemove()">
        <img src="./assets/images/edit-2.svg" alt="">
      </div>
    </div>

    <form #userUpadteForm="ngForm" (ngSubmit)="updateUser(userUpadteForm)">
      <label for="fullName">Full Name</label>
      <input class="" type="text" name="name" #name="ngModel" [(ngModel)]="userDetail.name" [ngClass]="{'is-invalid':name?.invalid && name?.touched}">
      <label for="fullName">Eamil</label>
      <input class="" type="email" name="email" #email="ngModel" [(ngModel)]="userDetail.email" [ngClass]="{'is-invalid':email?.invalid && email?.touched}">
      
      <label for="fullName">Mobile</label>
      <input class="" type="number" name="mobile" #mobile="ngModel" [(ngModel)]="userDetail.mobile" [ngClass]="{'is-invalid':mobile?.invalid && mobile?.touched}">
      <div class="ageSection">
        <div class="age">
          <label for="age">Age</label>
          <input class="" type="number" name="age" #age="ngModel" [(ngModel)]="userDetail.age" [ngClass]="{'is-invalid':age?.invalid && age?.touched}">
        </div>
        <div class="gender">
          <label for="gender">Gender</label>
          <select class="" name="gender" #gender="ngModel" [(ngModel)]="userDetail.gender" [ngClass]="{'is-invalid':gender?.invalid && gender?.touched}">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Others">Others</option>
          </select>
        </div>
      </div>
      <label for="address">Address</label>
      <textarea class="" type="number" name="address" #address="ngModel" [(ngModel)]="userDetail.address" [ngClass]="{'is-invalid':address?.invalid && address?.touched}"></textarea>
    
      <div class="addWarranty-btns">
        <button class="save-btn" type="submit" value="Save">Save</button>
        <button class="cancel-btn" type="button" onclick="location.href = 'account.html'">Cancel</button>
      </div>
    </form>
  </section>