<section class="spalsh" *ngIf="showSlider">
    <owl-carousel-o [options]="spalshSlid">
        <ng-template carouselSlide>
            <div class="slider">
                <div class="row justify-content-end align-items-start h-100">
                    <button class="btn-skip" (click)="hideSlider()">Skip <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slider sl2">
                <div class="row justify-content-end align-items-start h-100">
                    <button class="btn-skip" (click)="hideSlider()">Skip <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slider sl3">
                <div class="row justify-content-end align-items-start h-100">
                    <button class="btn-login" (click)="hideSlider()">Login <i class="fa fa-sign-in"></i></button>
                    <button class="btn-skip" (click)="hideSlider()">Skip <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </ng-template>  
      </owl-carousel-o>
</section><!--Spalash section-->



<section class="text-center login-wrapper wrapper" *ngIf="!showSlider">

    <img class="logo" src="./assets/images/login-logo.png" alt="">

    <h2>Login</h2>
   
    <div *ngIf="mainLogin justi">
        <form #userLoginForm="ngForm" (ngSubmit)="loginUser(userLoginForm)">
            <label for="email">Email</label>
            <input #email="ngModel" ngModel type="email" autocomplete="email" name="email" placeholder="Your Email" required [ngClass]="{'is-invalid':email?.invalid && email?.touched}">
            
            <label for="password">Password</label>
            <input class="form-control" tabindex="2" #password="ngModel" ngModel type="password" name="password" placeholder="Password" required [ngClass]="{'is-invalid':password?.invalid && password?.touched}">
    
            <a class="f-pass" href="javascript:void(0);" (click)="forgetPassword()">Forgot Password?</a>
    
            <span class="text-danger">{{errorMessage}}</span>
            <button class="submit-btn" type="submit" value="Login">Login</button>
            <!-- <a class="submit-btn" type="submit" value="Login" routerLink="/home">Login</a> -->
        </form>
    </div>
    <div *ngIf="forgrtPassStep1">
        <form>
            <label for="email">Registered Email Address</label>
            <input #fogetPassEmailId="ngModel" [(ngModel)]="forgetPassEmail" type="mobile" autocomplete="mobile" name="fogetPassEmailId" placeholder="Your email address">
            <a class="f-pass" href="#">Resend OTP?</a>
            <span class="text-danger">{{errorMessage}}</span>
            <button class="submit-btn" type="button" (click)="enterForgetPassEmail()">Get Otp</button>
        </form>
    </div>
    <div *ngIf="forgrtPassStep2">
        <form>
            <label for="email">OTP</label>
            <input #fogetPassOTP="ngModel" [(ngModel)]="forgetPassEmailOtp" type="mobile" autocomplete="mobile" name="fogetPassOTP" placeholder="Enter OTP" required>
            <label for="email">New Password</label>
            <input #fogetPassNewPass="ngModel" [(ngModel)]="newForgetPassword" type="password" name="fogetPassNewPass" placeholder="New Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
            <small *ngIf="fogetPassNewPass?.invalid && fogetPassNewPass?.touched" [ngClass]="{'text-danger':fogetPassNewPass?.invalid && fogetPassNewPass?.touched}">
                Must contain at least one number, one uppercase, lowercase letter, and at least 6 characters
            </small>
            <span class="text-danger">{{errorMessage}}</span>

            <button class="submit-btn" type="button" (click)="resetPassword()">Reset Password</button>
        </form>
    </div>
    <div *ngIf="otpStep1">
        <form>
            <label for="email">Registered Mobile</label>
            <input #mobile="ngModel" [(ngModel)]="otpMobile" type="mobile" autocomplete="mobile" name="mobile" placeholder="Your mobile">
            <a class="f-pass" href="#">Resend OTP?</a>
            <span class="text-danger">{{errorMessage}}</span>
            <button class="submit-btn" type="button" (click)="enterOtp()">Get Otp</button>
        </form>
    </div>
    <div *ngIf="otpStep2">
        <form>
            <div class="d-flex">
                <div>
                    <input type="text" id="otp" name="otp1" [(ngModel)]="otp1" class="form-control text-center" maxlength="1">
                </div>
                <div>
                    <input type="text" id="otp" name="otp2" [(ngModel)]="otp2" class="form-control text-center" maxlength="1">
                </div>
                <div>
                    <input type="text" id="otp" name="otp3" [(ngModel)]="otp3" class="form-control text-center" maxlength="1">
                </div>
                <div>
                    <input type="text" id="otp" name="otp4" [(ngModel)]="otp4" class="form-control text-center" maxlength="1">
                </div>                       
            </div>
            <span class="text-danger">{{errorMessage}}</span>
            <button class="submit-btn" type="button" (click)="submitOtp()">Login</button>
        </form>
        <!-- <button class="text-muted resend-button">Request to resend ?</button> -->
    </div>

    <div class="login-options">
        <div></div>
        <p>or connect with</p>
        <div></div>
    </div>
    <div class="social-icons">
        <a (click)="signInWithGoogle()"><img src="./assets/images/google.png" alt=""></a>
        <a (click)="signInWithFB()"><img src="./assets/images/fb.png" alt=""></a>
        <!-- <a href="javascript:void(0);"><img src="./assets/images/twitter.png" alt=""></a> -->
        <a href="javascript:void(0);" (click)="loginWithOtp()"><img src="./assets/images/mobile.png" alt=""></a>
    </div>
    <div class="register-link">
        <p>Don't have an account?</p>
        <a routerLink="/register">Sign up</a>
    </div>
</section>