<!-- Notification -->

<section id="notification" onclick="notificationShowHide()">
    <div class="notification-container">
        <header>
            <img src="./assets/images/trans-bell.png" />
            <h1>Notifications</h1>
            <span>2</span>
        </header>

        <div class="notification-text">
            <h2>Your warranty for iPhone 12 expires in 6 days</h2>
            <p>2 mins ago</p>
        </div>

        <div class="notification-text">
            <h2>Check repair status of your LG Washing machine</h2>
            <p>2 mins ago</p>
        </div>
    </div>
</section>

<!-- Notification ends -->