<!-- Notification -->

<section id="notification" onclick="notificationShowHide()">
    <div class="notification-container">
        <header>
            <img src="./assets/images/trans-bell.png" />
            <h1>Notifications</h1>
            <span>{{notificationList.length}}</span>
        </header>

        <div *ngIf="notificationList.length > 0; else emptyBlock">
            <div class="notification-text" *ngFor="let notification of notificationList">
                <h2>{{notification.title}}</h2>
                <p>{{notification.description}}</p>
            </div>
        </div>

        <ng-template #emptyBlock>
            <div class="notification-text">
                <div>
                    <h2>No Notifications!</h2>
                </div>
            </div>
        </ng-template>
    </div>
</section>

<!-- Notification ends -->