<nav>
    <ul>
        <li routerLinkActive="active"><a routerLink="/home"><img src="./assets/images/home-dull.png" alt=""> <p>Home</p></a></li>
        <li class="mr-4" routerLinkActive="active"><a routerLink="/product/list"><img src="./assets/images/products.png" alt=""> <p>Products</p></a></li>
        <li class="ml-4" routerLinkActive="active"><a routerLink="/tickets"><img src="./assets/images/ticket.png" alt=""> <p>Ticket</p></a></li>
        <li routerLinkActive="active"><a routerLink="/support"><img src="./assets/images/chat-icon.png" alt=""> <p>Support</p></a></li>
    </ul>
</nav>
<div class="add-product">
    <a routerLink="/product/add">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </a>
</div>