.add-product {
    width: 70px;
    height: 70px;
    background-color: #00c2cb;
    border-radius: 100%;
    border: 6px solid #202c40;
    display: grid;
    place-content: center;
    position: absolute;
    bottom: 10px;
    left: 16%;
    right: 0;
    top: -31px;
    z-index: 10;
    transform: translate(-50%, -20%);
}
.add-product a svg{
    color: #fff !important;
}
.add-product a:hover svg{
    color: #202c40 !important;
}