    <div class="carousel-header pt-4">
      <h3>Ticket Raised</h3>
    </div>
    <div class="carousel-body">
      <owl-carousel-o [options]="ticketList">
        <ng-template carouselSlide>
          <div class="item">
            <div id="ticket-box" class="ticketBox" onclick="location.href='ticket-details.html'">
              <div class="ticketTop">
                <img src="./assets/images/lg-front.png" alt="" />
                <div class="ticketTopTxt">
                  <h3>LG OLED TV</h3>
                  <p>Expires on 14 March 2024</p>
                </div>
              </div>
              <div class="ticketBottom text-center">
                <p>Your wevouch ticket no.</p>
                <h1>WV108309</h1>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div id="ticket-box2" class="ticketBox" onclick="location.href='ticket-details.html'">
              <div class="ticketTop">
                <img src="./assets/images/lg-front.png" alt="" />
                <div class="ticketTopTxt">
                  <h3>LG OLED TV</h3>
                  <p>Expires on 14 March 2024</p>
                </div>
              </div>
              <div class="ticketBottom text-center">
                <p>Your wevouch ticket no.</p>
                <h1>WV108309</h1>
              </div>
            </div>
          </div>
        </ng-template> 
      </owl-carousel-o>
    </div>

    <!--<div id="ticketsCarousel" class="owl-carousel owl-theme">
      <div class="item">
        <div id="ticket-box" class="ticketBox" onclick="location.href='ticket-details.html'">
          <div class="ticketTop">
            <img src="./assets/images/lg-front.png" alt="" />
            <div class="ticketTopTxt">
              <h3>LG OLED TV</h3>
              <p>Expires on 14 March 2024</p>
            </div>
          </div>
          <div class="ticketBottom text-center">
            <p>Your wevouch ticket no.</p>
            <h1>WV108309</h1>
          </div>
        </div>
      </div>
      
      <div class="item">
        <div id="ticket-box2" class="ticketBox" onclick="location.href='ticket-details.html'">
          <div class="ticketTop">
            <img src="./assets/images/lg-front.png" alt="" />
            <div class="ticketTopTxt">
              <h3>LG OLED TV</h3>
              <p>Expires on 14 March 2024</p>
            </div>
          </div>
          <div class="ticketBottom text-center">
            <p>Your wevouch ticket no.</p>
            <h1>WV108309</h1>
          </div>
        </div>
      </div>

    </div>-->