@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.upgradePlanBoxtxt {
    text-align: left;
}
h4, h5, p, a{
    font-family: 'Rubik', sans-serif !important;
}
h5 {
    margin: 0%;
}
.address-radio {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.addressBTN {
    padding: 10px 15px;
    border: 0;
    background-color: #00c2cb;
    color: #2e3d56;
    border-radius: 5px;
    font-size: 12px;
    margin: 20px 0 30px 0;
    font-family: 'Rubik', sans-serif !important;
    font-weight: 500;
}
.account-details {
    padding: 0 24px 0 30px !important;
}
.edit_delit{
    position: absolute;
    bottom: 7px;
    right: 11px;
}
.edit_delit .btn{
    border: 0;
    background: transparent;
    color: #fff;
    opacity: 0.75;
    font-size: 18px;
    padding: 5px;
}