/* You can add global styles to this file, and also import other style files */

.mat-tab-label:focus:not(.mat-tab-disabled) {
    border-bottom: 2px solid #02c0c9 !important;
}
.mat-tab-body-content{
    padding: 0 30px 48px 30px !important;
    height: 66vh !important;
}