/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-underline{
    display: none !important;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex{
      padding: 0 !important;
  }
  .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    .mat-form-field-flex {
        align-items: center !important;
    }
    .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
        width: 4.5em !important;
    }
  .datepicker{
    padding: 16px 32px !important;
  }
  .mat-datepicker-content {
    background-color: #2e3d56 !important;
}
.mat-calendar-body-selected {
    background-color: #02c0c9 !important;
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: rgba(2, 192, 201,  0.32) !important;
}