/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select .ng-select-container {
  color: #fff;
  background-color: #202c40;
  border-radius: 10px;
  border: 0;
  min-height: 45px;
  align-items: center;
}
.ng-select .ng-select-container .ng-value-container .ng-input>input:focus {
  background-color: #ffffff00 !important;
  color: #000000 !important;
  height: 50px !important;
  width: 100% !important;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 0px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: #202c40;
  color: rgb(255 255 255);
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  background-color: #00c2cb;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #202c40;
  color: rgb(255 255 255);
}

.mat-tab-label:focus:not(.mat-tab-disabled) {
    border-bottom: 2px solid #02c0c9 !important;
}
.mat-tab-body-content{
    padding: 0 30px !important;
    height: 66vh !important;
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-underline{
    display: none !important;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex{
      padding: 0 !important;
  }
  .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    .mat-form-field-flex {
        align-items: center !important;
    }
    .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
        width: 4.5em !important;
    }
  .datepicker{
    padding: 16px 32px !important;
  }
  .mat-datepicker-content {
    background-color: #2e3d56 !important;
}
.mat-calendar-body-selected {
    background-color: #02c0c9 !important;
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: rgba(2, 192, 201,  0.32) !important;
}

.mat-tab-body-content {
  height: 66vh !important;
}
.mat-tab-body-content{
  padding: 0 30px 48px 30px !important;
  height: 66vh !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #02c0c9 !important;
}
.mat-form-field-infix {
  width: 227px !important;
}

.spalsh .owl-dots{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.spalsh .owl-theme .owl-dots .owl-dot span {
  background: #3b516f;
}
.spalsh .owl-theme .owl-dots .owl-dot.active span, .spalsh .owl-theme .owl-dots .owl-dot:hover span {
  background: #03adbc;
}