<section class="account-details">
  <div class="account-holder mt-3">
    <div class="accHolderImg">
      <img
        class="rounded-circle"
        src="./assets/images/user-pic-square.png"
        alt=""
      />
    </div>
    <div class="accHolderTxt">
      <h2>{{userDetail?.name}}</h2>
      <!-- <p>Mumbai, India</p> -->
    </div>
    <a class="editProfileBTN" routerLink="/profile/edit">Edit</a>
  </div>

  <h5>Email</h5>
  <h4>{{userDetail.email}}</h4>

  <h5>Mobile</h5>
  <span *ngIf="userDetail.mobile; else mobileNotFound">
    <h4>+91 {{userDetail.mobile}}</h4>
  </span>
  <ng-template #mobileNotFound><h4>N/A</h4></ng-template>

  <div class="accDtlMid">
    <div class="age">
      <h5>Age</h5>
      <span *ngIf="userDetail.age; else ageNotFound">
        <h4>{{userDetail.age}}</h4>
      </span>
      <ng-template #ageNotFound><h4>N/A</h4></ng-template>
    </div>
    <div class="gender">
      <h5>Gender</h5>
      <span *ngIf="userDetail.gender; else genderNotFound">
        <h4>{{userDetail.gender}}</h4>
      </span>
      <ng-template #genderNotFound><h4>N/A</h4></ng-template>
    </div>
  </div>

  <h5>Address</h5>
  <h4>
    <span *ngIf="userDetail.address; else addressNotFound">
      <h4>{{userDetail.address}}</h4>
    </span>
    <ng-template #addressNotFound><h4>N/A</h4></ng-template>
  </h4>

  <div class="upgradePlanBox">
    <div class="upgradePlanBoxtxt">
      <h5>Membership</h5>
      <h4>{{userDetail.subscription.name}}</h4>
    </div>
    <a class="upgradeBTN" routerLink="/package/list">
      Upgrade <span><img src="./assets/images/right-arrow.png" alt="" /></span>
    </a>
  </div>
</section>
